<!DOCTYPE html>
<html>
<head>
  <title>Ansible Automation Platform - F5 Daily Demo</title>
</head>
<body>

<h1>Welcome to an Ansible Automation Platform (AAP) F5 Daily Demo</h1>
<img src="aap.png" alt="">

<h3 align=left>This website is running on Red Hat Enterprise Linux Server</h3>
<h3 align=left>{{ inventory_hostname }}</h3>

<h2>Important Information</h2>
<img src="AmesQNRCode.png" alt="">
<ul>
  <a href="https://red.ht/3Z9vKIa">https://red.ht/3Z9vKIa</a>
</ul>

<p><b>Thank you for considering Ansible Automation Platform!</b><br/>Automation as a service is a journey not a project.  :-)</p>
<p style="color:red;">The "AAP Daily Demo" will auto destruct at 01:00 hrs UTC time.</p>

<p style="color:green;"><div id="current_date"></p>
  <script>
  document.getElementById("current_date").innerHTML = Date();
  </script>

<p><b>Ansible Tiger Team</b></p>
</body>
</html>